.header-logo{
	float: left;
	position: relative;
	z-index: 2;
}
.header-content{
	display: inline-block;
	width: 100%;
}

.header-branding-logo{
	max-width: 110px;
}
.header-branding-logo-2{
  max-width: 60px;
}
.header-branding{
	padding-top: 14px;
	font-size: 16;
	font-weight: bolder;
	text-transform: uppercase;
	display: inline-block;
}

.header-branding span.second{
	display: block;
}
.header-info{
	display: inline-block;
	padding-top: 11px;
	color :#D97434;
	float: right;
}
.header-info-phone span{
	font-size: 20px;
	padding: 5px;
}
.header-info-email span{
font-size: 18px;
}
#header{
  background-color: azure;
  -moz-box-shadow: inset 0 1px 0 #2A2A2A;
  -webkit-box-shadow: inset 0 1px 0 #2A2A2A;
  box-shadow: inset 0 1px 0 #2A2A2A;
  background-color: #1d2023;
  background: url(../img/bg.jpg) repeat scroll 0 0 transparent;
  border-bottom: 3px solid #D87533;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header-normal{
  padding-top: 8px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
