.main-div{
	/*padding-top: 10px;
	width: 850;
	margin-left: auto;
	margin-right: auto;*/
}
.container{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5C6161;
}
.container .textContainer{
	
    border-top: 1px solid #DB7432;
}
.textContainer span{
	font-size: 18px;
    line-height: 32px;
    letter-spacing: -.2px;
    margin-top: 20px;
    display: inline-block;
} 
.ib {
    display: inline-block;
}

.ib > div{
    float : left;
}

.cmgColor{
    color: #D77536;
}